---
---

@import "{{ site.theme }}";

.main-content h1,
.main-content h2 {
  color: #1e6bb8;
  font-weight: bold;
}

.main-content p {
  text-indent: 3em;
}

.main-content blockquote p,
.main-content li p { 
  text-indent: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
